<div class="col">
    <div class="container d-flex flex-column align-items-center">
        <div class="card mb-3 col-7">
            <h5 class="card-header">Pedido no. #021</h5>
            <div class="card-body">
                <h5 class="card-title">Paquete 2</h5>
                <p class="text-secondary">Estado: <span class="text-decoration-underline">Pendiente</span></p>
                <p class="card-text">Tu pedido aún se encuentra en estado pendiente. Completa el formulario para poder recibir tu pedido.</p>
                <a href="#" class="btn btn-dark">Completar pedido</a>
            </div>
        </div>
        <div class="card mb-3 col-7">
            <h5 class="card-header">Pedido no. #046</h5>
            <div class="card-body">
                <h5 class="card-title">Paquete 1</h5>
                <p class="text-secondary">Estado: <span class="text-decoration-underline">Completado</span></p>
                <p class="card-text">Tu pedido ya ha sido completado. Da clic en <strong>ver</strong> para ver los detalles.</p>
                <a href="#" class="btn btn-dark">Ver pedido</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/home/home.js"></script>