<div class="col">
    <h1>Selecciona un diseño:</h1>
    <div class="container d-flex flex-column align-items-center page">
        <div class="col-7">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-3">
                <div class="col">
                    <div class="card">
                        <img src="/assets/img/invitacion.jpg" class="card-img-top" alt="layout-image">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/assets/img/invitacion.jpg" class="card-img-top" alt="layout-image">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/assets/img/invitacion.jpg" class="card-img-top" alt="layout-image">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/assets/img/invitacion.jpg" class="card-img-top" alt="layout-image">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/home/layout.js"></script>