:root {
    --card-color: #ffffff;
    --sec-color: #d273e2;
}

.notification {
    transition: 1s;
    position: absolute;
    padding: 20px;
    background: var(--card-color);
    min-height: 100px;
    max-width: 600px;
    top: -20%;
    right: 10px;
    border-left: 4px solid var(--sec-color);
    box-shadow: rgba(0, 0, 0, 0.204) 1px 1px 15px;
}

.notification-show {
    top: 10px;
    transition: 1s;
}